.loader-div{
    min-height: 100px;
}
.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader-container p{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}